:root {
  /* Report-specific additions */
  --main-color: #009edb;
  --un-font-size-title_end: 55px;
  --un-font-size-title_start: 100px;
  --un-font-size-xxxxxl: 80px;
  --un-font-weight-light: 300;
  --un-font-weight-semibold: 500;
  --un-font-weight-superbold: 900;
  --un-line-height-xl: 1.4;
  --un-line-height-xxl: 1.6;
}

#app-root-2026-sohd_storyboard .app {
  h3 {
    @media all and (max-width: 1024px) {
      font-size: clamp(var(--un-font-size-xl), 3vw, var(--un-font-size-xxl));
    }
    @media all and (max-width: 600px) {
      font-size: var(--un-font-size-xl);
      font-weight: var(--un-font-weight-bolder);
      line-height: var(--un-line-height-small);
    }
  }
  .slide_content {
    h3 {
      opacity: 0;
      &.visible {
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
  }
}
