#app-root-2026-sohd_storyboard .app {
  .slide_container.slide03 {
    .slide_content {
      max-width: min(1000px, 100%);
      .title_container {
        .share_container {
          text-align: center;
        }
        h3 {
          max-width: min(1000px, 100%);
          text-align: center;
          span.accent_sids {
            color: var(--un-color-yellow);
          }
        }
      }
      .chart_meta {
        text-align: center;
      }
    }
  }
}
